{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>Contact Us</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="container">
            <h1>Contact Us</h1>
            <p>Якщо у вас виникли запитання, не соромтеся звертатися до нас.</p>
            <form class="form-container" method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-field">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <div class="form-field">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>            
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
