{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-field">
                {{ form.password.label_tag }} {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
