{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Реєстрація</title>
</head>
<body>
    <div class="form-container">
        <h1>Реєстрація</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }} {{ form.email }}
            </div>
            <div class="form-field">
                {{ form.password1.label_tag }} {{ form.password1 }}
            </div>
            <div class="form-field">
                {{ form.password2.label_tag }} {{ form.password2 }}
            </div>
            <button type="submit" class="btn-register">Зареєструватися</button>
        </form>
    </div>
</body>
</html>
